body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  left: 0;
  height: 100vh;
  padding: 1% 0;
}

/* Control the right side */
.right {
  right: 0;
}

.cell {
    width: 6%;
    height: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    box-sizing: border-box;
}

.row {
    height: 6vh;
    margin: 0;
    padding: 0;
}

.start {
    background-color: rgb(0, 255, 0) !important;
}

.end {
    background-color: rgb(255, 0, 0) !important;
}

.obstacle {
    background-color: black;
}

.path {
  background-color: rgb(25, 41, 182);
}

.open {
  background-color: darkgreen;
}

.close {
  background-color: orange;
}

.current {
  background-color: rgb(255, 200, 0);
}

.context-menu {
    position: absolute;
    text-align: center;
    background: lightgray;
    border: 1px solid black;
    z-index: 1;
    overflow-x: hidden;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;

    user-select: none; /* verhindert Textauswahl */
    -webkit-user-select: none; /* für Safari */
    -moz-user-select: none; /* für ältere Firefox-Versionen */
    cursor: default; /* verhindert den Textauswahl-Cursor */
}

.context-menu ul li {
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid black;
}

.context-menu ul li a {
    text-decoration: none;
    color: black;
}

.context-menu ul li:hover {
    background: darkgray;
}

.context-menu li a {
  cursor: pointer; /* zeigt eine Hand beim Hover */
}

.context-menu-header {
  font-weight: bold;
  text-align: left;
  background-color: rgb(142, 142, 142) !important;
  cursor: default; /* verhindert die Hand beim Hover */
}

@media screen and (max-width: 768px) {
  .split {
    width: 100%;
    height: auto;
    position: relative;
  }

  .left, .right {
    width: 100%;
    position: relative;
    height: 100%;
    padding: 0;
  }

  .cell {
    width: 27px;
  }

  .row {
    height: 27px;
  }

  .container {
    height: auto;
    text-align: center;
  }

  .right {
    margin-bottom: 20%;
  }
}